.icon{
    background: url(@/assets/contents/icon/icon-app.svg) no-repeat;;
}

.dq-icon-100 {
    height: 100px;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
}

.dq-icon-80 {
    height: 80px;
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
}
.dq-icon-56 {
    height: 56px;
    width: 56px;
    max-width: 56px;
    min-width: 56px;
    max-width: 56px;
    min-height: 56px;
}
.dq-icon-48 {
    height: 48px;
    width: 48px;
    max-width: 48px;
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
}

.dq-icon-46 {
    height: 46px;
    width: 46px;
    max-width: 46px;
    min-width: 46px;
    max-width: 46px;
    min-height: 46px;
}

.dq-icon-44 {
    height: 44px;
    width: 44px;
    max-width: 44px;
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
}

.dq-icon-40 {
    height: 40px;
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
}

.dq-icon-32 {
    height: 32px;
    width: 32px;
    max-width: 32px;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
}
.dq-icon-24 {
    height: 24px;
    width: 24px;
    max-width: 24px;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
}

.dq-icon-20 {
    height: 20px;
    width: 20px;
    max-width: 20px;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
}
.dq-icon-18 {
    height: 18px;
    width: 18px;
    max-width: 18px;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
}
.dq-icon-16 {
    height: 16px;
    width: 16px;
    max-width: 16px;
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
}


.icon-google {
    background-image: url(@/assets/contents/images/google.svg);
}

.icon-facebook {
    background-image: url(@/assets/contents/images/facebook.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-facebook-f {
    background-image: url(@/assets/contents/icon/icon-facebook.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-zalo {
    background-image: url(@/assets/contents/icon/icon-facebook.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-instagram {
    background-image: url(@/assets/contents/icon/icon-instagram.svg);
    background-repeat: no-repeat;
    background-size: contain;
}




.icon-github {
    background-image: url(@/assets/contents/images/github.svg);
}

.icon-logo {
    background-image: url(@/assets/contents/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-user-info {
    background-image: url(@/assets/contents/images/user_icon.png);
}

.icon-exit-exam {
    background-image: url(@/assets/contents/icon/exit-test.png);
}

.icon-arrow-right {
    background-image: url(@/assets/contents/icon/arrow-right.png);
}

.icon-time-exam {
    background-image: url(@/assets/contents/icon/time-exam.png);
}

.icon-list {
    background-image: url(@/assets/contents/icon/icon-list.png);
}

.icon-list-active {
    background-image: url(@/assets/contents/icon/icon-list-active.png);
}

.icon-close {
    background-position: 0 -287px;
}

.icon-history{
    background-image: url(@/assets/contents/icon/history.png);
}
.icon-dashboard{
    background-image: url(@/assets/contents/icon/dashboard.svg);
}
.icon-excel {
    background-image: url(@/assets/contents/icon/excel.svg);
}


.icon-cart{
    background-image: url(@/assets/contents/icon/icon-cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-user{
    background-image: url(@/assets/contents/icon/icon-user.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-search {
    background-image: url(@/assets/contents/icon/icon-search.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-input-search{
    background-image: url(@/assets/contents/icon/icon-input-search.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-phone{
    background-image: url(@/assets/contents/icon/icon-phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-loading{
    background-image: url(@/assets/contents/icon/loadding.gif);
    height: 600px;
    width: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: calc(50% - 300px);
    border-radius: 10px;
}

.icon-todolist{
    background-image: url(@/assets/contents/icon/icon-todolist.svg);
}


.icon-filter{
    background-position: 0 -861px;
}

.icon-look-for{
    background-position: 0 -1198px;
}


.icon-delete{
    background-position: -576px -512px;
}

.icon-payment-cash{
    background-image: url(@/assets/contents/icon/payment-cash.png);
    background-repeat: no-repeat;
    background-size: contain;
}