@import url('./icon/icon.css');
.maxW-50px {
    max-width: 50px !important;
}
.maxW-42px {
    max-width: 42px !important;
}

.w-100 {
    width: 100% !important;
}

.w-80 {
    width: 80% !important;
}

.w-75 {
    width: 75% !important;
}

.w-70 {
    width: 70% !important;
}

.w-60 {
    width: 60% !important;
}

.w-50 {
    width: 50% !important;
}

.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.w-25 {
    width: 25% !important;
}

.w-10 {
    width: 10% !important;
}

.w-300px {
    width: 300px !important;
}

.w-250px {
    width: 250px !important;
}

.w-200px {
    width: 200px !important;
}

.flex {
    display: flex !important;
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}

.flex-5 {
    flex: 5 !important;
}

.flex-6 {
    flex: 6 !important;
}

.flex-7 {
    flex: 7 !important;
}
.flex-8 {
    flex: 8 !important;
}

.flex-9 {
    flex: 9 !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.jus-center {
    justify-content: center;
}

.jus-left {
    justify-content: flex-start;
}

.jus-right {
    justify-content: flex-end;
}

.jus-between {
    justify-content: space-between !important;
}

.align-center {
    align-items: center !important;
}
.dq-mgt-50{
    margin-top: 50px !important;
}
.dq-mgt-30 {
    margin-top: 30px !important;
}

.dq-mgt-20 {
    margin-top: 20px !important;
}

.dq-mgt-10 {
    margin-top: 10px !important;
}
.dq-mgr-10 {
    margin-right: 10px !important;
}
.dq-mgt-8 {
    margin-top: 8px !important;
}

.dq-mgt-5 {
    margin-top: 5px !important;
}

.dq-mgt-2 {
    margin-top: 2px !important;
}

.dq-mgr-30 {
    margin-right: 30px !important;
}

.dq-mgr-15 {
    margin-right: 15px !important;
}
.dq-mgr-10{
    margin-right: 10px !important;
}
.dq-mgr-5 {
    margin-right: 5px !important;
}

.dq-mgl-10 {
    margin-left: 10px !important;
}

.text-tran {
    text-transform: uppercase !important;
}

.font-bold {
    font-weight: bold !important;
}
.font-20{
    font-size: 20px !important;
}

.timmer-finish-animation {
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

.word-normal {
    word-break: normal !important;
}

.cursor-pointer{
    cursor: pointer;
}