<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Targets.Syslog" />
	</extensions>
	<targets>
		<target name="syslog" type="Syslog"
		  syslogserver="logsN.papertrailapp.com" port="XXXXX"
		  protocol="tcp" ssl="true" facility="Local7" />
	</targets>
	<rules>
		<logger name="*" minLevel="Trace" appendTo="syslog" />
	</rules>
</nlog>