.dq-mgt-30 {
  margin-top: 30px !important;
}

.dq-mgt-20 {
  margin-top: 20px !important;
}

.dq-mgt-10 {
  margin-top: 10px !important;
}

.dq-mgt-8 {
  margin-top: 8px !important;
}

.dq-mgt-5 {
  margin-top: 5px !important;
}

.dq-mgt-2 {
  margin-top: 2px !important;
}


.dq-mgr-30 {
  margin-right: 30px !important;
}

.dq-mgr-15 {
  margin-right: 15px !important;
}

.dq-mgr-10 {
  margin-right: 10px !important;
}

.dq-mgr-5 {
  margin-right: 5px !important;
}

.dq-mgl-10 {
  margin-left: 20px !important;
}